/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("./OpenSans-Regular.woff2?v=1.1.0") format("woff2");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./OpenSans-Italic.woff2?v=1.1.0") format("woff2");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("./OpenSans-Bold.woff2?v=1.1.0") format("woff2");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("./OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Reset focus borders */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Global styles */
body {
	color: #a0a0a0;
	background-color: #161616;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2px;
	-webkit-font-smoothing: antialiased;
	/* -webkit-app-region: drag; */
}

/* Make root size of window */
#root {
	width: 100%;
	height: 100vh;
}

#link-box {
	width: 500px;
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
	margin: 0 auto;
	padding-bottom: 30px;
}

#link-box p {
	padding-bottom: 5px;
}

#link-box form input#link {
	font-size: 20px;
	width: 496px;
	height: 40px;
	border: 1px solid #333333;
	border-radius: 4px;
	background-color: #1c1c1c;
	color: #a0a0a0;
}

#link-box form input#submit-button {
	margin-top: 5px;
	float: right;
	font-size: 14px;
	width: 75px;
	height: 40px;
	border: 1px solid #333333;
	border-radius: 4px;
	background-color: #1c1c1c;
	color: #a0a0a0;
}

#video {
	height: 100%;
	width: 100%;
}
